<tr>
  <td class="border px-8 py-4">
    <%= link_to truncate(post.title, length: 10), post_path(post.id), class: ' text-blue-600 hover:text-blue-800 visited:text-purple-600' %>
  </td>
  <td class="border px-8 py-4 whitespace-nowrap"><%= full_name(post.user) %></td>
  <td class="border px-6"><%= post.published_at&.to_formatted_s(:short) %></td>
  <% if params[:own_posts] %>
    <td class="border px-6">
      <%= link_to t('.edit'), edit_post_path(post.id), class: 'h-15 px-6 py-2 text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-md focus:shadow-outline hover:bg-indigo-800' %>
    </td>
    <td class="border px-6">
      <%= link_to t('.delete'), post_path(post.id), method: :delete, class: 'h-15 px-3 py-2 text-red-100 transition-colors duration-150 bg-red-700 rounded-md focus:shadow-outline hover:bg-red-800' %>
    </td>
  <% end %>
</tr>
